.contentAcceuil {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grilleCategorie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 600px;
}


.elementGrille {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.elementGrille img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.elementGrille:hover img {
    transform: scale(1.1);
}