#ul-aide{
    display: flex;
    justify-content: space-between;
}

.div-aide{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;
}

.active{
    display: flex;  
}