#container-detail-commande{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;

    box-sizing: border-box;
    padding: 10px;
}

#h3-title-detail{
    font-weight: 200;
}

#info-commande{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.p-info-detail{
    font-size: 1.75vh;
}

#h2-title-detail{
    font-weight: 200;
}

#div-adresse-detail{
    width: 100%;
    display: flex;
}

.adresse{
    flex: 1;
}

.adresse-detail{
    background-color: rgb(236, 236, 236);
    border-top: 1px solid rgb(139, 139, 139);
    border-bottom: 1px solid rgb(139, 139, 139);
}

.p-title-adresse{
    font-weight: bold;
    font-size: 1.5vh;
}

.p-info-detail{
    font-size: 14px;
    margin: 0.5vh;
    color: rgb(70, 70, 70);
}

#table-commande{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3vh;
}

thead{
    border-bottom: 1px solid rgb(192, 192, 192);
}

th{
    font-size: 1.5vh;
    text-align: left;
}

.tr-body{
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.tr-body td{
    padding: 10px;
    padding-left: 0;
    font-size: 1.5vh;
}

.tr-foot{
    font-weight: bold;
    font-size: 1.75vh;
    border-bottom: 1px solid rgb(192, 192, 192);
}

#td-total{
    padding: 1vh 0px 1vh 0px;
}

#td-total-prix{
    color: red;
}

#progress-statut{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    margin-bottom: 3vh;
}

#div-etape{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
    height: 13vh;
}

#div-contentieux{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-etape::before {
    --w: 38.4vw;
    content: '';
    position: absolute;
    left: calc(50% - calc(var(--w) / 2));
    width: var(--w); 
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    z-index: 0;
}

#div-etape.half-colored::after {
    --w: 38.4vw;
    content: '';
    position: absolute;
    left: calc(50% - calc(var(--w) / 2));
    width: calc(var(--w) / 2); 
    height: 2px;
    background-color: green;
    transform: translateY(-50%);
    z-index: 1;
}

#div-etape.all-colored::after {
    --w: 38.4vw;
    content: '';
    position: absolute;
    left: calc(50% - calc(var(--w) / 2));
    width: var(--w); 
    height: 2px;
    background-color: green;
    transform: translateY(-50%);
    z-index: 0;
}

#div-etape.all-colored-fail::after {
    --w: 38.4vw;
    content: '';
    position: absolute;
    left: calc(50% - calc(var(--w) / 2));
    width: var(--w); 
    height: 2px;
    background-color: red;
    transform: translateY(-50%);
    z-index: 0;
}

.etape{
    height: 1.5vw;
    width: 5vw;
    padding: 0.7vw;
    border-radius: 25px;
    background-color: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.p-statut{
    font-size: 1.5vh;
}

.etape-success{
    background-color: green;
}

.etape-failed{
    background-color: gray;
}

.etape-contentieux{
    background-color: red;
}