#suivi-commande{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

#title-suivi-commande{
    font-weight: 200;
}

#table-commande{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3vh;
}

thead{
    border-bottom: 1px solid rgb(192, 192, 192);
}

th{
    font-size: 1.5vh;
    text-align: left;
}

.tr-body{
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.tr-body td{
    padding: 10px;
    padding-left: 0;
    font-size: 1.5vh;
}

.a-detail{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-detail{
    padding: 1vh;
    background-color: black;
    color: white;
    border: none;
}

.button-detail:hover{
    filter: invert(30%);
}