* {
    transition-delay: 0.1s;
    transition-duration: 0.1s;
    font-family: sans-serif;
}

.produit {
    border: 2px solid lightgray;
    border-radius: 10%;
    width: 20vw;
    height: 20vw;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.produit img {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-right: 10%;
}

.produit>*{
    font-size: 1vw;
    display: block;
    margin: 1%;
    padding: 0;
}

.produit h3 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.8vh;
    overflow: hidden;
    text-overflow:ellipsis;

    white-space: pre-wrap;
    text-align: left;
}

.produit>*>*{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.cicles {
    display: contents;
}

.circles>p {
    vertical-align: middle;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2.5%;
}

.circles div {
    vertical-align: middle;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 1%;
}

.smalltext {
    font-size: 75%;
}









#filtres {
    text-align: center;
    width: 80%;
    margin: 5%;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.ul-filtres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.li-nom-filtre{
    position: relative;
}

.li-nom-filtre:hover .div-select-filtre{
    opacity: 1;
    z-index: 3;
}

.div-select-filtre{
    opacity: 0;
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    flex-direction: column;

    border: 2px solid rgb(194, 194, 194);
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
    gap: 10px;

    z-index: -1;
    background-color: white;

    transition: all 0.5s ease;
}

.div-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}

.nom-filtre{
    white-space: nowrap;
}

.checkbox-filtre{
    appearance: initial;
    width: 20px;
    height: 20px;
    border: none;
    background: gray;
    position: relative;
    border-radius: 5px;
}
.checkbox-filtre:checked {
    background: black;
}

.checkbox-filtre:checked:after {
    font-weight: 1000;
    content: "\2713";
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-55%);
}

#button-valide{
    height: 30%;
    padding: 10px;
    background-color: white;
    border: 1.5px solid gray;
    border-radius: 5px;

    transition: all 0.5s ease;
}

#button-valide:hover{
    background-color: gray;
    color: white;
    font-weight: bold;
}

#mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;    
}

.right{
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;

    transition: all 0.5s ease;
}

.right:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0);
}

.left{
    font-size: small;
    color: rgb(75, 75, 75);
}

#count{
    font-size: medium;
    color: black;
}

.headerCategorie {
    font-size: large;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.p-produit{
    text-align: left;
}

.avis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span-delai{
    color: rgb(25, 135, 84);
}

.span-prix-solde{
    font-weight: bold;
    font-size: 2vh;
    margin-right: 0;
}

.span-prix-vente{
    font-size: 2vh;
    margin-left: 0;
    color: gray;
    text-decoration-color: gray;
}

.reduc{
    background-color: black;
    color: white;
    font-size: 1.6vh;

    padding: 3px;
}