*{
    font-family: sans-serif;
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.marge{
    margin-left: 200px;
    margin-right: 200px;
}

/*
Bar d'info en haut de la page
*/
.info-bar-haut{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-bottom: 25px;
}
/*
NavBar Page Accueil
*/
.barre-recherche-info{
    height: 90px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
/*
Image Miliboo
*/
.Miliboologo{
    width: 170px;
    height: 50.89px;
}

#contenu-recherchebar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#recherche-zone{
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

#form-style{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
}

#imgsearch{
    height: 50px;
    padding-left: 10px;
}

/*
bar de recherche 
*/
#recherchebar{
    width: 600px;
    height: 60px;
    border: 0px;
    font-size: large;
}

#recherchebar:focus{
    outline: none;
}

#recherchebar::placeholder{
    font-size: large;
}

/*
Compte, aide, panier
*/
#test{
    align-items: center;
    display: flex;
}
/*
img compte, 
*/

.imgtest{
    height: 50px;
    margin-left: 20px;
}
    
#navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#navigation-regroupement{
    display: flex;
    gap: 20px;
}

#div-cat{
    height: 7vh;
    width: 100%;
    background-color: rgb(212, 212, 212, 0.5);
    display: flex;
    justify-content: center;
}

#ul-cat{
    height: 100%;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.licategorie{
    height: 100%;
    align-content: center;
    color: rgb(85, 85, 85);
    font-size: small;
}

.container-title-cat{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.licategorie a{
    text-decoration: none;
    color: black;
    font-size: medium;
    display: inline-block;
    height: 100%;
    align-content: center;
}

.licategorie:hover #cat-canape{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-chaise{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-bureau{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-table{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-rangement{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-chambre{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-enfant{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-jardin{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-luminaire{
    opacity: 1;
    z-index: 2;
}

.licategorie:hover #cat-deco{
    opacity: 1;
    z-index: 2;
}

.categorie-menu{
    --decay: 150px;
    left: 0;/*var(--decay);*/
    width: calc(100% - var(--decay));/*calc(100vw - calc(var(--decay)*2));*/
    padding-top: 10px;
    padding-left: var(--decay);
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    background-color: white;
    z-index: -1;
    opacity: 0;

    transition: all 0.2s ease;
}

.cat-colonne{
    height: 100%;
    width: 100%;
    flex: 1;
    background-color: transparent;
}

.ul-sous-cat{
    padding-top: 40px;
}

.ul-sous-cat li{
    line-height: 30px;
}

.ul-sous-cat li a{
    color: gray;
}

.ul-sous-cat li a u{
    color: black;
}

.div-cat-img{
    flex: 3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.img-cat{
    height: 100%;
    --p: 100px;
    clip-path: polygon(var(--p) 0,100% 0,calc(100% - var(--p)) 100%,0 100%);
}

#service{
    background-color: rgb(183, 185, 166);
    height: 200px;
}

#div-bandeau{
    height: 100%;
}

#ul-service{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.bandeau-service{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-bandeau{
    height: 70px;
}

#container-footer{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.lignes{
    display: flex;
}

#c1{
    flex: 2;
}

#c2{
    flex: 1;
}

#c3{
    flex: 1;
    display: flex;
    justify-content: center;
}

.title-footer{
    text-transform: uppercase;
    font-weight: 100;
}

.ul-footer{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ul-footer li a{
    font-size: smaller;
    color: rgb(110, 110, 110);
}

